@import '../../assets/styles/includes/_fonts-styles.scss';
@import '../../assets/styles/includes/_mixins.scss';
@import '../../assets/styles/includes/_colors.scss';
@import '../../assets/styles/includes/_sizes.scss';
@import '../../assets/styles/includes/_shared.scss';

#content-home {
	h2,
	h3 {
		font-family: $font-secondary;
		color: $color-light;
		text-align: center;
	}
	h2 {
		font-size: 6.5rem;
		@include responsive(s1) {
			font-size: 5.5rem;
		}
		@include responsive(s2) {
			font-size: 5rem;
		}
		@include responsive(s3) {
			font-size: 4rem;
		}
		@include responsive(s4) {
			font-size: 3rem;
		}
		@include responsive(s5) {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-size: 4rem;
		margin-bottom: 4rem;
		@include responsive(s1) {
			font-size: 3.5rem;
		}
		@include responsive(s2) {
			font-size: 3rem;
		}
		@include responsive(s3) {
			font-size: 2rem;
			margin-top: 2rem;
		}
		@include responsive(s5) {
			font-size: 1.5rem;
			margin-top: 1.5rem;
		}
	}
	h4 {
		font-family: $font-primary;
		color: $color-light;
		text-align: center;
		.hl {
			color: $color-light-purple;
		}
		@include responsive(s3) {
			font-size: 1.2rem;
		}
	}
	button {
		margin-top: 4rem;
	}
}

#content-presentation {
	h2,
	h3 {
		font-family: $font-primary;
		color: $color-light;
		text-align: center;
	}
	h2 {
		font-size: 2rem;
		@include responsive(s3) {
			font-size: 1.4rem;
		}
	}
	h3 {
		font-size: 1rem;
		font-family: $font-tertiary
	}
	img {
		margin: 2.5rem 0;
		height: 80px;
		@extend .center-translate;
	}
	button {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

#content-contact {
	text-align: center;
	h2 {
		font-family: $font-secondary;
		color: $color-light;
		font-size: 6rem;
		margin-bottom: 3rem;
		text-align: center;
		@include responsive(s3) {
			font-size: 4rem;
		}
		@include responsive(s4) {
			font-size: 3rem;
		}
	}
	img {
		height: 120px;
		@include responsive(s3) {
			height: 100px;
		}
		@include responsive(s4) {
			height: 80px;
		}
	}
	h3 {
		font-family: $font-primary;
		color: $color-light-pink;
		margin-top: 4rem;
		margin-bottom: 6rem;
		@include responsive(s3) {
			font-size: 1.5rem;
			margin-bottom: 3rem;
		}
		@include responsive(s4) {
			font-size: 1.2rem;
		}
	}
	h4 {
		font-family: $font-primary;
		color: $color-light-pink;
		font-size: 1.5rem;
		@include responsive(s3) {
			font-size: 1.3rem;
		}
		@include responsive(s4) {
			font-size: 1.2rem;
		}
	}
	p {
		&.bigger {
			font-size: 2rem;
		}
		small {
			font-size: 1rem;
			padding: 0;
			margin: 0;
			width: 100%;
			position: relative;
			float: left;
			margin-bottom: 2rem;
		}
		font-size: 1.2em;
		color: $color-light;
		@include responsive(s3) {
			font-size: 0.9rem;
		}
	}
	ul {
		padding: 0;
		margin: 0;
		margin-top: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			border: 2px solid $color-light;
			padding: 13px;
			border-radius: 50%;
			list-style-type: none;
			&:first-child {
				margin-right: 15px;
			}
			a {
				img {
					height: 35px;
					width: 35px;
					@include responsive(s3) {
						height: 20px;
						width: 20px;
					}
				}
			}
		}
	}
}

#content-about{
    h2{
		font-family: $font-secondary;
		color: $color-dark-purple;
		font-size: 6rem;
		margin-bottom: 3rem;
		@include responsive(s3) { text-align: center; font-size: 4rem; margin-bottom: 1rem; }
	}
	h3{
		color: $color-light-purple;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		@include responsive(s3) { text-align: center; font-size: 1rem; margin-bottom: 1rem; }
	}
	p{
		font-family: $font-tertiary;
		color: $color-dark-purple;
		line-height: 2rem;
		margin-bottom: 2rem;
		@include responsive(s3) { text-align: center; }
	}
	img{
		height: 120px;
		width: 120px;
		margin-top: 1rem;
		margin-bottom: 4rem;
		@include responsive(s3) {
			height: 100px;
			left: 50%;
			position: relative;
			-webkit-transform: translate(-50%, 0) !important;
			-moz-transform: translate(-50%, 0) !important;
			-ms-transform: translate(-50%, 0) !important;
			transform: translate(-50%, 0) !important;
		}
		@include responsive(s4) {
			height: 80px;
		}
	}
}

#content-services{
	h2{
		font-family: $font-primary;
		text-align: center;
		font-size: 3rem;
		color: $color-light;
		margin-bottom: 3rem;
		@include responsive(s3) {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
		@include responsive(s4) {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
	img{
		height: 120px;
		@extend .center-translate;
		margin-bottom: 3rem;
		@include responsive(s3) {
			height: 100px;
			margin-bottom: 2rem;
		}

		@include responsive(s4) {
			height: 80px;
			margin-bottom: 1.5rem;
		}
	}
	h3{
		font-family: $font-primary;
		text-align: center;
		font-size: 2rem;
		line-height: 2.4rem;
		color: $color-light-purple;
		.hl{
			font-size: 3rem;
			@include responsive(s3) {
				font-size: 2.5rem;
				margin-bottom: 2.5rem;
			}

			@include responsive(s4) {
				font-size: 2rem;
				margin-bottom: 2rem;
			}
		}
		margin-bottom: 2rem;
		@include responsive(s3) {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
		@include responsive(s4) {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
	p{
		font-family: $font-tertiary;
		color: $color-light;
		text-align: center;
		padding: 0 15%;
		font-size: 1.2rem;
		line-height: 2rem;
		@include responsive(s3) {
			padding: 0;
			margin-bottom: 4rem;
			font-size: 1rem;
		}

	}
	button{
		margin-top: 3rem;
		@include responsive(s3) {
			margin-top: 1.5rem;
		}
	}
}