@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300");
@font-face {
  font-family: "TrajanPro-Regular";
  src: url("../fonts/TrajanPro-Regular.eot?") format("eot"), url("../fonts/TrajanPro-Regular.woff") format("woff"), url("../fonts/TrajanPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "AfterMidnite";
  src: url("../fonts/AfterMidnite.eot?") format("eot"), url("../fonts/AfterMidnite.woff") format("woff"), url("../fonts/AfterMidnite.ttf") format("truetype"); }

* {
  outline: none; }

html {
  font-size: 14px; }

body {
  font-size: 14px;
  font-family: "TrajanPro-Regular", serif;
  background-color: #F2E9E4;
  color: #4A4E69; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0px; }

a {
  color: #F2E9E4;
  text-decoration: none; }
  a:hover {
    color: #F2E9E4;
    text-decoration: none; }
  a:focus {
    color: #F2E9E4;
    text-decoration: none; }
  a:active {
    color: #F2E9E4;
    text-decoration: none; }
  a:visited {
    color: #F2E9E4;
    text-decoration: none; }

::-moz-selection {
  color: #F2E9E4;
  background: #4A4E69; }

::selection {
  color: #F2E9E4;
  background: #4A4E69; }

p {
  font-size: 1em; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  outline: none !important; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: #22223B;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; }
  #loader img {
    height: 300px;
    width: 300px; }
